.subscribe-button {
    background-color:rgb(196, 29, 29);
    color: white;
    border: none;
    border-radius: 2px;
    cursor:pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 8px;
    margin-right: 30px;
    margin-left: 20px;
    transition: background-color 0.5s;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    vertical-align: top;
} 
.subscribe-button:hover { 
    background-color:rgb(14, 10, 10);
    
}
.subscribe-button:active {
    background-color: rgb(121, 190, 140);
    opacity:0.5;
}
.join-button {
    background-color: white;
    border-color:rgb(91, 91, 221);
    border-style: solid;
    border-width:1px;
    color:rgb(91, 91, 221);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    
    cursor:pointer;
    transition: background-color 0.5s;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    
}
.join-button:hover {
    background-color:rgb(91, 91, 221);
    color:white;
}
.join-button:active {
    background-color:rgb(2, 2, 15);
    opacity:0.5;
}
.tweet-button {
    background-color:rgb(91, 169, 225);
    color: white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius:18px;
    font-weight:bold;
    font-size: 15px;
    cursor:pointer;
    margin-left:8px;
    transition: background-color 0.5s;
    vertical-align: top;
   
 }
 .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    transition: box-shadow 0.15s;
 }